<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141567617133-6s3fcfe3576rrrrjqmbmh656k4a2opkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141567617133-6s3fcfe3576rrrrjqmbmh656k4a2opkj</string>
	<key>API_KEY</key>
	<string>AIzaSyBoBwNA9L9yxmzooXNQq9m1jEkejc4Nprc</string>
	<key>GCM_SENDER_ID</key>
	<string>141567617133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>social-media-app-f2f</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-app-f2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141567617133:ios:a9578f55cfca44bd4b7764</string>
</dict>
</plist>